@import "../../../styles/globalStyles.scss";

.order-navbar {
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  .account-directory {
    display: flex;
    padding: 0 5px;
    margin-bottom: 15px;

    .account-header {
      font-family: $primary-font;
      font-size: 15px;
      font-weight: 400;
      margin-right: 10px;
    }

    .account-from-to:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .profile-header {
    font-family: $primary-font;
    letter-spacing: -1px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
    padding: 0 5px;
  }

  .order-tabs-container {
    display: flex;
    max-width: 590px;
    border-bottom: 1px solid rgb(215, 215, 215);

    .order-tab {
      padding: 10px 5px;
      margin-right: 20px;
      font-family: $primary-font;
      font-size: 15px;
      font-weight: 500;
      color: grey;
    }

    .order-tab-active {
      color: black;
      border-bottom: 1px solid black;
    }

    .order-tab:hover {
      background: rgb(245, 245, 245);
      cursor: pointer;
      border-radius: 5px;
    }
  }
}
